:root{
  --primary-clr:  #F9CF1E;
  --secondary-clr: #FFF4C4;
  --accent-clr: #242424;
  --accent-clr-g: #f7f7f7;
  --primary-font: "Poppins", sans-serif;
  --secondary-font:  "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

ul {
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
}

li {
  list-style-type: none;
}

.custom-container {
  max-width: 1400px;
  display: block;
  padding: 0 1rem;
  margin: auto;
  position: relative;
  z-index: 3;
}

.main-header{
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 10;
  transition: 500ms ease;
}

.header-inner{
  display: flex;
  justify-content: space-between;
  height: 90px;
  width: 100%;
}

.header-navs ul{
  margin: 0;
  padding: 0;
}

.header-navs a{
  color: white;
  text-decoration: none;
  white-space:  nowrap;
}

.header-navs__main{
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 1rem;
  align-items: center;
}

.header-navs__main li{
  height: 100%;
  position: relative;
}

.header-navs__main li a{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-navs__main li a:before{
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--primary-clr);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: 300ms ease;
}

.header-navs__main li a:hover:before{
  width: 100%;
}

.header-navs__main li:hover > .header-navs__sub{
  display: block;
}

.header-navs__sub{
  position: absolute;
  left: 50%;
  top: 4.1rem;
  transform: translateX(-50%);
  display: none;
}

.header-navs__sub li a{
  height: auto;
  padding: 1rem 1.5rem;
  background-color: var(--accent-clr);
}

.fixed-header {
  background-color: var(--accent-clr);
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 500ms;
  padding: 1.5rem 0 0;
  box-sizing: border-box;
  height: 90px;
}

.fh-active {
  padding: 0.5rem 0;
}

.header-inner img {
  max-height: 65px;
}

.header-inner i {
  font-size: 30px;
  color: white;
}

.mobile-header{
  display: none;
  width: 100%;
  height: 70px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-bottom: solid 2px #e1e1e1;

}

.mobile-header__cont{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--accent-clr);
  position: relative;
  z-index: 5;
}

.mobile-menu{
  position: fixed;
  background-color: white;
  top: 70px;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(-150%);
  transition: 300ms;
}

.mobile-menu__active{
  transform: translateY(0);
}

.mobile-menu__main{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mobile-menu__main li{
  padding: 1rem 0;
  border-bottom: solid 1px #dbdbdb;
  width: 100%;
}

.mobile-menu a{
  color: black;
  text-decoration: none;
}

 .mobile-header__btn{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: 300ms;
  color: white;
}

.mobile-header__btn a{
  color: white;
  transition: 300ms;
}

.mobile-header__btn a:hover, .mobile-header__btn:hover{
  color: var(--primary-clr);
}

.mobile-menu__sub{
  padding: 0;
  margin: 0;
}

.banner-area {
  width: 100%;
  height: 100vh;
  background-image: url(./media/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.banner-area:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.banner-tagline {
  max-width: 600px;
  width: 100%;
  height: auto;
  text-align: left;
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.banner-tagline p {
  font-size: 72px;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 70px;
}

.banner-tagline span {
  color: #fcd21d; 
}

.banner-tagline span:nth-child(2) {
  font-size: 1.15rem;
  color: white;
  font-weight: normal;
  line-height: 2rem;
  padding-left: 4px;
}

.ceo-container {
  max-width: 580px;
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
  z-index: 3;
  background-image: url(./media/ceoBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 2rem;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.ceo-container:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.4;
}

.ceo-container img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
}

.welcome-c-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.welcome-section {
  padding: 4rem 0 3rem 0;
  background-image: transparent;
  position: relative;
}
/* 
.welcome-section:before{
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(./media/footerbg.png);
  background-repeat: no-repeat;
  opacity: 0.05;
  z-index: 1;
  background-attachment: fixed;
  background-size: cover;
} */


.section-title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 48px !important;
  width: max-content;
  line-height: 2.3rem;
}

.section-title p {
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.section-title span {
  font-size: 24px;
  position: relative;
  z-index: 3;
  width: max-content;
  background-color: #ffffff;
  padding-right: 0.5rem;
}

.section-title p:after {
  content: "";
  width: 100%;
  height: 3px;
  background-image: linear-gradient(80deg, var(--primary-clr),var(--primary-clr) ,transparent);
  position: absolute;
  top: -1.2rem;
  left: 0;
  z-index: 2;
}

.ceo-details {
  background-color: white;
  position: absolute;
  bottom: 5%;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 2.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
}

.ceo-name {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.ceo-tag {
  font-size: 14px;
  color: gray;
}

.ceo-email {
  font-style: italic;
  font-size: 14px;
  color: gray;
  text-decoration: none;
  transition: 300ms;
}

.ceo-email:hover{
  color: var(--primary-clr);
}

.welcome-content {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.welcome-design {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.04;
  width: 100%;
  height: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-design img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slick-logos {
  height: max-content;
}

.slick-logos .slick-slide div {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-logo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
  width: 100%;
  height: auto;
}

.slick-logos .slick-slide {
  min-width: 200px;
  max-width: 300px;
  height: max-content;
  width: 100%;
  margin: 1rem;
}

.slick-logos .slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

 .cu-wrapper, .cu__locations {
  width: 100%;
  height: auto;
  padding: 3.75rem 0;
}

.who-we-work-with{
  padding: 2.75rem 0 0;
}

.who-we-work-with .section-t-wrap{
  margin-bottom: 0;
}

.who-we-work-with .section-title{
  color: black;
}

.ideas-section {
  background-image: url(./media/sectionBG.jpg);
  padding: 7rem 0;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.ideas-section:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.idea-items {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
}

.counter {
  font-size: 60px;
  font-weight: bold;
}

.counter-tag {
  font-size: 1.5rem;
  color: #fcd21d;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.idea-items i {
  font-size: 80px;
}

.gsite-btn {
  background-color: #f9cf1e;
  color: white;
  padding: 0.5rem 2rem;
  transition: 500ms;
  border: solid 2px transparent;
  max-width: 185px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.gsite-btn:hover.gsite-btn {
  background-color: transparent;
  border: solid 2px #f9cf1e;
  color: white;
}

.inner-content {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inner-content__desc{
  line-height: 1.6rem;
}

.inner-content .gsite-btn:hover{
  color: var(--primary-clr)
}

.section-t-wrap {
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  width: max-content;
  color: white;
  max-width: 450px;
  position: relative;
  z-index: 2;
}

.testimonials-section .section-t-wrap .section-title span,
.ideas-section .section-t-wrap .section-title span,
.team-section .section-t-wrap .section-title span {
  background-color: transparent !important;
}

.ideas-section .section-t-wrap .section-title p:after {
  right: 0;
  left: unset !important;
  width: 55%;
}

.ideas-section .section-t-wrap{
  max-width: unset;
}

.testimonials-section .section-t-wrap .section-title p:after{
  right: 0;
  left: unset !important;
  width: 40%;
}

.team-section .section-t-wrap .section-title p:after{
  right: 0;
  left: unset !important;
  width: 37%;
}

.git-section .section-t-wrap .section-title span {
  background-color: #242424 !important;
}

.cta-wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.cta-section .section-title{
  margin: auto;
  max-width: unset;
  margin-bottom: 1.5rem;
}

.cta-btn {
  position: relative;
  max-width: 460px;
  max-height: 500px;
  width: 100%;
  transition: 500ms;
  overflow: hidden;
}

.cta-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid 3px white;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%) scale(1.5);
  transition: 500ms;
}

.cta-btn:hover .cta-hover {
  transform: translate(-50%, -50%) scale(1);
}

.cta-btn:hover .cta-label {
  top: 50%;
  transform: translate(-50%, -50%);
}

.cta-btn:hover.cta-btn:before {
  opacity: 0.8;
}

.cta-btn:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  transition: 500ms;
}

.cta-label {
  position: absolute;
  top: 80%;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
  height: auto;
  letter-spacing: 1px;
  transition: 300ms ease-in;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

.cta-label span {
  font-size: 1.4rem;
  transition: 200ms;
  text-align: center;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

.expertise-section {
  padding: 2.5rem 0;
  background-color: var(--accent-clr-g);
}


.expertise-section .section-title span{
  background-color: var(--accent-clr-g);
}

.expertise-wrapper .section-title {
  color: black;
}

.expertise-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.expertise-headline {
  margin: 2.5rem 0;
}

.expertise-items {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  text-align: center;
  gap: 1rem;
}

.expertise-items p {
  max-width: 15rem;
  margin: auto;
  display: block;
}

.expertise-items i {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.different-section {
  margin-bottom: 3rem;
}

.ds__desc{
  font-size: 1.2rem;
  text-align: justify;
  width: 100%;
  line-height: 2rem;
}

.different-section .section-title {
  color: black;
}

.diff-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: justify;
}

.diff-bold {
  font-weight: bold;
  text-align: left;
  font-size: 1.2rem;
}

.testimonials-section {
  background-image: url(./media/sectionBG.jpg);
  padding: 5rem 0 11rem 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.testimonials-section:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.testimonials-card {
  max-width: 380px;
  width: 100%;
  height: auto;
  background-color: #242424;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  color: #d6d6d6;
  font-style: italic;
  padding: 1.6rem;
  display: block !important;
  margin: auto !important;
  position: relative;
  z-index: 3;
}

.t-justified {
  text-align: justify;
  margin: 3rem 0 5rem 0;
  position: relative;
}

.t-name {
  text-align: center;
}

.block-q {
  font-size: 2.5rem;
  position: absolute;
  bottom: -5vh;
  left: 0;
  color: #f9cf1e;
}

.block-q-2 {
  font-size: 2.5rem;
  position: absolute;
  top: -5vh;
  color: #f9cf1e;
  right: 0;
}

.testimonials-slide .slick-list {
  height: max-content;
}

.testimonials-slide .slick-slide {
  display: flex;
  justify-content: center;
}

.rf-slick-arrows {
  font-size: 2.5rem;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 60%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.rf-slick-arrows i{
  transition: 300ms;
}

.rf-slick-arrows i:hover {
  color: #f9cf1e;
  cursor: pointer;
}

.git-section {
  background-color: #242424;
  padding: 4rem 0;
}

.git-section .col:nth-child(1){
  display: flex;
  flex-direction: column;
}

.git-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.git-logo {
  max-width: 255px;
  width: 100%;
  height: auto;
}

.git-logo img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.git-rf-logo {
  max-width: 280px;
  height: auto;
  width: 100%;
}

.git-rf-logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.contact-details {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-details p {
  margin: 0;
}

.contact-details i {
  margin-right: 1rem;
  color: #f9cf1e;
}

.git-wrapper .section-title p:after{
  display: none;
}

.contact-smi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  color: white;
}

.smi-cont {
  display: flex;
  gap: 1rem;
}

.smi-cont a{
  font-size: 40px;
  color: white;
}

.smi-cont a{
  color: white;
  transition: 300ms;
}

.smi-cont a:hover{
  color: var(--primary-clr)
}

.contact-details-wrapper {
  max-width: max-content;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.git-section .gsite-btn {
  border-color: #242424;
  margin: auto;
  display: block;
}

.form-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.form-wrapper input {
  width: 100%;
  height: 70px;
  background-color: transparent;
  border: solid 1px white;
  padding: 0 1rem;
  color: white;
}

.msg-bx {
  height: 140px !important;
  width: 100%;
  background-color: transparent;
  padding: 1rem;
  border: solid 1px white;
  color: white;
}

footer {
  background-color: #171717;
  color: #959595;
  padding: 3.5rem 0 2rem;
}

.footer-navs {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  font-size: 0.9rem;
}

.footer-wrapper {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.footer-wrapper span {
  color: #f9cf1e;
}

.ip-banner {
  background-image: url(./media/aboutBanner.png);
  height: 100%;
  max-height: 80vh;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.success-stories .ip-banner {
  background-image: url(./media/featured\ image\ 3.png);
  background-position: top;
}

.ip-banner-wrapper {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ip-breadcrumbs {
  color: white;
  position: absolute;
  bottom: 0;
  left: 1rem;
  z-index: 2;
  font-size: 0.9rem;
}

.ip-banner:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.4;
}

.ip-banner-tagline {
  display: flex;
  flex-direction: column;
  font-size: 60px;
  color: white;
  position: relative;
  z-index: 1;
  font-weight: bold;
  width: 100%;
  gap: 1.5rem;
}


.ip-banner-tagline p{
  font-size: 1.2rem;
  line-height: 1.9rem;
  font-weight: normal;
  max-width: 1200px;
  width: 100%;
}

.headline-wrapper {
  padding: 7.683863885839736vh 0;
  display: flex;
  gap: 5rem;
  flex-direction: row;
}

.inline-link{
  color: black;
}

.intro__img{
  max-width: 550px;
  margin:auto;
}

.headline-wrapper .col:nth-child(2) {
  flex-direction: column;
}

.headline-wrapper .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headline-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.headline-wrapper p {
  font-size: 1.2rem;
  text-align: justify;
  width: 100%;
}

.ip-section-title{
  font-size: 48px !important;
  font-weight: 700;
  text-align: center !important;
  margin: 0;
  line-height: 3.4rem;
  margin-bottom: 1.5rem;
}

.headline-wrapper a{
  font-weight: 600;
  text-decoration: none;
  transition: 300ms;
}

.headline-wrapper a:hover{
  opacity: 0.5;
}

.headline-wrapper span {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center !important;
  display: block;
  margin-bottom: 1rem;
}

.team-section {
  background-color: #242424;
  width: 100%;
  height: auto;
  position: relative;
  padding: 7.683863885839736vh 0;
}

.team-section__fbg{
  background-image: url(./media/wavebg.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.05;
  z-index: 1;
}

.--z-index{
  z-index: 5;
}

.featured-emp,
.featured-details {
  display: flex;
  justify-content: center;
}

.featured-emp-inner {
  max-width: 430px;
  width: 100%;
  max-height: 430px;
  height: auto;
}

.featured-emp-inner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.featured-slide {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.featured-details-inner {
  max-width: 400px;
  height: auto;
  color: #b8b8b8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-name {
  color: white;
  font-weight: bold;
}

.featured-name,
.featured-pos {
  font-size: 1.5rem;
}

.featured-desc {
  text-align: justify;
  font-size: 1.2rem;
}

.featured-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.featured-contact i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.team-slider-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.prev-team-slide .slick-slide:nth-child(1){
  display: none;
}

.prev-team-slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.prev-img-wrap {
  width: 170px !important;
  height: 150px;
  cursor: pointer;
  position: relative;
}

.prev-img-wrap:hover{
  opacity: 0.7;
}

.prev-team-slide .slick-slide div {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
}

.prev-img-wrap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.team-next-btn,
.team-prev-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 2.3rem;
  color: #f9cf1e;
  border: 0;
  transition: 500ms;
  z-index: 5;
}

.team-next-btn:hover,
.team-prev-btn:hover {
  color: white;
}

.team-nxt-btn {
  left: 3%;
}

.team-prev-btn {
  right: 1%;
}

.what-we-do, .our-mission{
  position: relative;
}

.what-we-do:before, .our-mission:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./media/footerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.09;
  background-attachment: fixed;
}

.wwd-slider-wrap {
  display: flex;
  justify-content: space-evenly;
}

.om-slider-wrap .slick-slide div .col,
.wwd-slider-wrap .slick-slide div .col {
  max-width: 420px;
  min-height: 430px;
  height: auto;
  border: solid 3px #4b4b4b;
  border-radius: 25px;
  display: flex !important;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  margin: 0 0.3rem;
}

.om-slider-wrap .slick-slide div,
.wwd-slider-wrap .slick-slide div {
  display: flex;
  justify-content: center;
}

.om-slider-wrap .slick-slide,
.wwd-slider-wrap .slick-slide {
  height: max-content !important;
}

.om-slider-wrap .col i,
.wwd-slider-wrap .col i {
  font-size: 4rem;
  color: #f9cf1e;
}

.om-slider-wrap .col span,
.wwd-slider-wrap .col span {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  text-align: center;
}

.om-slider-wrap .col p,
.wwd-slider-wrap .col p {
  font-size: 0.9rem;
  color: #747d88;
  line-height: 1.5rem;
  text-align: left;
}

.wwd-slider-wrap .col a{
  color: black;
  transition: 300ms;
  font-weight: 600;
  text-decoration: none;
}

.wwd-slider-wrap .col a:hover{
  opacity: 0.5;
}

.wwd-slick-arrows button {
  background-color: transparent;
  border: 0;
  font-size: 3rem;
  color: #f9cf1e;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  z-index: 3;
}

.wwd-next,
.om-next {
  left: 0;
  transition: 300ms;
}

.wwd-prev,
.om-prev {
  right: 0;
  transition: 300ms;
}

.wwd-prev:hover,
.om-prev:hover,
.wwd-next:hover,
.om-next:hover {
  color: var(--accent-clr)
}

.our-mission-slider, .what-we-do-slider {
  margin: 2.5rem 0;
}

.case-studies-section{
  padding: 3.75rem 0;
}

.case-studies-section .section-title {
  color: black;
}

.case-studies-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}

.case-studies {
  border: 0;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.case-studies:hover > .case-hover {
  opacity: 1;
}

.case-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(36, 36, 36, 0.9);
  z-index: 3;
  border: 0;
  border-radius: 25px;
  padding: 2rem;
  color: white;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 500ms;
  opacity: 0;
}

.case-hover a {
  width: auto;
  height: auto;
  padding: 0.5rem 3rem;
  color: white;
  text-decoration: none;
  background-color: #f9cf1e;
  max-width: 250px;
  border: solid 1px transparent;
  transition: 500ms;
  text-transform: uppercase;
}

.case-hover a:hover {
  background-color: transparent;
  border: solid 1px #f9cf1e;
}

.case-img {
  width: 100%;
  height: auto;
}

.case-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.case-label {
  font-size: 1.4rem;
  color: white;
  background-color: #242424;
  height: auto;
  width: 100%;
  border: 0;
  border-radius: 0 0 25px 25px;
  padding: 30px 15px;
  text-align: center;
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.case-prev,
.case-next {
  background-color: transparent;
  border: 0;
  color: #fcd21d;
  font-size: 3rem;
  transition: 500ms;
  top: 60%;
  transform: translateY(-50%);
  position: absolute;
}

.case-prev {
  left: 0;
}

.case-next {
  right: 0;
}

.case-prev:hover,
.case-next:hover {
  color: #242424;
}

.case-studies-wrapper .slick-slide {
  margin: 0 1.2rem;
  height: max-content;
}

.case-testimonials{
  padding: 3.75rem 0 5rem;
  position: relative;
  background-color: var(--accent-clr-g);
}

.ct-cont{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  position: relative;
  z-index: 3;
}

.case-testimonials:before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./media/footerbg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  filter: grayscale(1);
  opacity: 0.09;
}

.ct-cont .col{
  width: 50%;
}

.ct-cont .col:nth-child(1){
  display: flex;
  flex-direction: column;
  justify-content: center;
	box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  background-color: rgba(255,255,255, 0.8);
}

.ct-cont .section-title{
  color: var(--accent-clr);
  width: unset;
  text-align: center;
  margin-top: 2rem;
  line-height: 3rem;
}

.ct-wrapper .slick-slide{
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.ct-wrapper  p{
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  font-style: italic;
  color: darkslategray;
}

.ct-wrapper p > span{
  font-style: unset;
  font-weight: 600;
  color: var(--accent-clr);
}

.--news{
  background-image: url("./media/newsbg.jpg");
}

.news{
  display: grid;
  padding: 3.75rem 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.news__item{
  flex-grow: 1;
  border: 0;
  border-radius: 25px;
  overflow: hidden;
  max-height: 350px;
  max-width: 450px;
  position: relative;
}

.news__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  border: 0;
}

.news__label{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  background-color: var(--accent-clr);
  color: white;
  padding: 1rem 2rem;
}

.news__label p{
  margin: 0;
}

.news__hover{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0,0,0, 0.7);
  padding: 1rem;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 300ms;
}

.news__hover p{
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 5; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  }

.news__item:hover .news__hover{
  opacity: 1;
}

.news__options{
  display: flex;
  gap: 3px;
  margin-top: 3rem;
}

.news__options select{
  border: 0;

}

.news__btn{
  max-width: 150px;
  width: 100%;
  background-color: var(--primary-clr);
  color: white;
  text-decoration: none;
  padding: 1rem 1rem;
  text-align: center;
  transition: 300ms;
  border: solid 1px  transparent;
  text-transform: uppercase;
}

.news__btn:hover{
  border: solid 1px var(--primary-clr);
  background-color: transparent;
}

.--accelerating-bg{
  background-image: url(./media/cs-imgs/accelerating.png);
}

.--integrating-bg{
  background-image: url(./media/cs-imgs/integrating.png);
}

.--learning-bg{
  background-image: url(./media/cs-imgs/learning.jpg);
}

.--roadmap-bg{
  background-image: url(./media/roadmapBG.png);
  background-position: center;
}

.case-study-banner{
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.case-study-banner:before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.4;
}

.case-study__inner{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: white;
  width: 100%;
}

.case-study__title{
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.case-study__title span{
  font-size: 1rem;
  font-weight: 500;
}

.case-study__desc{
  max-width: 1200px;
  width: 100%;
  font-size: 1.3rem;
}

.case-study__desc span{
  font-weight: bold;
}

.--light{
  color:white;
}

.cs-content__center{
  padding: 3.75rem 0;
  text-align: center;
  width: 100%;
  margin: auto;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.cs-content__video{
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: block;
}

.case-study__btn{
  width: max-content;
  max-width: 300px;
  height: auto;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: 300ms;
}

.--btn__yellow{
  background-color: var(--primary-clr);
  color: white;
  border: solid 1px var(--primary-clr);
}

.--btn__yellow:hover{
  background-color: transparent;
  color: var(--primary-clr);
}

.cs-content__gray-area{
  background-color: var(--accent-clr-g);
  width: 100%;
  height: auto;
}

.cs-inner{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cs-inner img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cs-inner .col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cs-inner .col:nth-child(1){
  text-align: left;
  color: #747d88;
}

.cs-inner .col span{
  color: var(--accent-clr);
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  text-align: left;
  width: 100%;
}

.row-icons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 3.75rem 0;
}

.row-icons .col{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.row-icons .col i{
  font-size: 4rem;
}

.row-icons .col p{
  font-size: 1.5rem;
  font-weight: 800;
}

.row-icons .col span{
  font-size: 1.1rem;
}

.--row-reverse{
  flex-direction: row-reverse;
}

.--contact-bg{
  background-image: url(./media/contactbg.jpg);
  background-position: center;
}

.--invert{
  filter: invert(1);
}

.--black-icons{
  color: var(--accent-clr);
  transition: 300ms;
}

.--black-icons:hover{
  color: var(--primary-clr);
}

.cu-outer{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.cu-form__container{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.cu-form__container input, .cu-form__container textarea{
  width: 100%;
  height: 90px;
  border: 0;
  border-bottom: solid 2px var(--accent-clr);
  outline: none;
}

.cu__message {
  position: relative;
  width: 100%;
  height: auto;
}

.cu__message textarea{
  min-height: 150px;
  width: 100%;
  margin-top: 2rem;
}

.cu__message-btn{
  border: 0;
  background-color: transparent;
  color: var(--primary-clr);
  font-size: 2.1rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  transition: 300ms;
}

.cu__message-btn:hover{
  color: var(--accent-clr)
}

.cu__map{
  width: 100%;
  height: 100%;
  max-height: 350px;
}

.cu-row{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.cu-row .col{
  display: flex;
  justify-content: center;
}

.cu-row .col:nth-child(2){
  border-right: solid 1px var(--primary-clr);
  border-left: solid 1px var(--primary-clr);
}

.cu-row .col div{
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.cu-row .col p{
  font-size: 1.5rem;
  font-weight: 800;
  font-family: var(--secondary-font);
}

.cu-row .col span{
  color: grey;
}

.cu-row .col a{
  margin-top: 1.5rem;
}

.cu__mail{
  color: black;
  text-decoration: none;
  transition: 300ms;
  font-weight: 600;
  cursor: pointer;
}

.cu__mail:hover{
  color: var(--primary-clr);
}

.--sustain-bg{
  background-image: url(./media/sustainability.jpg);
  background-position: center;
}

.--custom-col{
  flex-direction: column;
  justify-content: space-evenly !important;
  gap: 2rem;
}

.--img-mh{
  max-height: 400px;
}

.initiatives-section{
  padding: 3.75rem 0;
}

.initiatives{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.initiatives__item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 4rem;
}

.initiatives__item:nth-child(1), .initiatives__item:nth-child(4){
  background-color: var(--accent-clr);
}

.initiatives__item:nth-child(1) p, .initiatives__item:nth-child(4) p{
  color: white;
}

.initiatives__item:nth-child(1) span, .initiatives__item:nth-child(4) span{
  color: #dbdbdb;
}

.initiatives__item i{
  font-size: 3rem;
  color: var(--primary-clr)
}

.initiatives__item p{
  margin: 0;
  font-size: 1.4rem;
  font-family: var(--secondary-font);
  font-weight: 700;
  text-align: center;
}

.initiatives__item span{
  font-size: 1rem;
  color: #747d88;
  line-height: 1.8rem;
  text-align: center;
}

.gray-area{
  background-color: var(--accent-clr-g);
  width: 100%;
  height: auto;
  padding: 3.75rem 0 2rem;
}

.socmed-section{
  padding: 3.75rem 0;
  position: relative;
}

.socmed-section:before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./media/footerbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  opacity: 0.12;
}

.socmed{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.socmed__posts a img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.socmed__icons{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 240px;
}

.socmed__icons a i{
  font-size: 70px;
}

.socmed__icons-col{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: var(--accent-clr);
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: bold;
  min-height: 180px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transition: 300ms;
}

.socmed__icons-col:hover{
  color:var(--accent-clr);
  background-color: white;
}

.--col-lightbg{
  color: var(--accent-clr);
  background-color: white;
}

.--col-lightbg:hover{
  color: white;  
  background-color: var(--accent-clr);
}

.socmed__posts{
  gap: 0.5rem;
}

.socmed__posts a{
  position: relative;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 0;
}

.socmed__posts a:before{
  background-color: black;
  content:"";
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 300ms;
  z-index: 1;
}

.socmed__posts a:after{
  content: "";
  width: 100%;
  height: 40%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 300ms;
  background-image: linear-gradient(to top, rgba(249, 207, 30, 0.8), transparent);
  z-index: 2;
}

.socmed__posts a:hover:before{
  opacity: 0.3;
}

.ip-partners{
  padding: 3.75rem 0;
}

.ip-partners__row{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.ip-partners__row .col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
}

.ip-partners__row .gsite-btn:hover, .page-headline .gsite-btn:hover{
  color: black;
}

.ip-partners__row .col p{
  margin: 0;
}

.ip-partners .section-title, .initiatives-section .section-title{
  text-align: center;
  width: unset;
}

.partners__img{
  max-width: 250px;
  height: auto;
  width: 100%;
}

.partners__img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.section-tagline{
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: auto;
  margin-bottom: 3rem;
}

.roadmap-view{
  padding: 7.75rem 0 4rem;
  position: relative;
  background-color: var(--accent-clr-g);
}

.roadmap-view .section-title{
  text-align: center;
  width: unset;
}

.roadmap-view:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./media/roadmapSection.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.09;
  filter: grayscale(1);
}

.roadmap__wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  margin: 3.75rem 0;
}

.roadmap__wrap .col{
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.roadmap__wrap p{
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--secondary-font);
}

.roadmap__count{
  width: 100px;
  height: 100px;
  background-color: var(--primary-clr);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.roadmap__count:before{
  width: 90%;
  height: 90%;
  content: "";
  position: absolute;
  z-index: 2;
  background-color: transparent;
  border-radius: 50%;
  border: dashed 3px white;
}

.roadmap__count i{
  font-size: 1.99rem;
  color: white;
}

.roadmap__count span{
  position: absolute;
  top: 0px;
  left: -6px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--accent-clr);
  color: white;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  font-weight: 600;
}

.diagrams-section, .reports-section{
  padding: 2.5rem 0;
}

.reports-section{
  background-color: var(--accent-clr-g);
}

.reports-section img{
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 3rem;
}

.diagrams-wrapper{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2.5rem;
}

.diagrams-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-composition{
  padding: 3.75rem 0;
}

.team-comp__wrap{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.team-comp__wrap .col{
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  text-align: center;
  }

.team-comp__wrap .col span{
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--secondary-font);
}

.team-comp__wrap p{
  font-size: 0.99rem;
  color: gray;
}

.team-comp__img{
  width: 100%;
  height: auto;
}

.team-comp__img img{
  width: 100%;
  height: auto;
  max-height: 280px;  
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.roadmap-titles {
  margin: auto;
  max-width: 1000x;
  text-align: center;
}

.roadmap-titles .section-title{
  width: unset;
}

.roadmap-titles span{
  max-width: 600px;
  width: 100%;
}

.rf-advantage{
  width: 100%;
  height: auto;
  background-color: var(--accent-clr-g);
  position: relative;
  padding: 3.75rem 0;
}

.rf-advantage:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(./media/footerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.05;
}
.rf-advantage__wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 4rem 0 0;
}

.rf-advantage__wrap .col{
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.rf-advantage__wrap i{
  font-size: 4.5rem;
  color: var(--primary-clr);
}

.rf-advantage__wrap span{
  font-size: 1.1rem;
  font-weight: 600;
  font-family: var(--secondary-font);
  margin: 1rem 0 0.5rem;
}

.rf-advantage__wrap p{
  color: gray;
  font-size: 0.9rem;
}

.tech-roadmap{
  padding: 3.75rem 0;
}

.tech-roadmap__wrap{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.tech-roadmap__icons{
  display: flex;
  flex-direction: column;
}

.tech-roadmap__icons span{
  font-size: 1.1rem;
}

.tech-roadmap__icons .col{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding: 1rem 1.5rem;
}

.tech-roadmap__icons .col:nth-child(odd){
  background-color: var(--primary-clr);
  color: white;
}

.tech-roadmap__icons .col:nth-child(even) i{
  color: var(--primary-clr);
}

.tech-roadmap__icons .col i{
  font-size: 2.5rem;
  max-width: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.tech-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech-left .gsite-btn{
  max-width: max-content;
  text-align: center;
}

.tech-left .gsite-btn:hover{
  color:black;
}

.tech-title{
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 2.9rem;
}

.tech-desc{
  font-size: 1.3rem;
}

.--nd-team .section-title p:after {
  width: 50% !important;
}

.--ph-team .section-title p:after{
  width: 30% !important;
}

.--tailored-bg{
  background-image: url(./media/tailored.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.tailored-form{
  padding: 3.75rem 0;
  position: relative;
}

.tailored-form{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.tailored-form__img{
  max-width: 700px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.tailored-form__img img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.tailored-form__title{
  font-size: 48px;
  font-weight: 700;
  line-height: 3rem;
}

.--altered-g{
  grid-template-columns: 1fr 1fr 1fr;
}

.--less-pd{
  padding-bottom: 0;
}

.certificates{
  padding: 3.75rem 0;
  position: relative;
}

.certificates:before{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-image: url(./media/wavebg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: grayscale(1);
  opacity: 0.06;
  background-attachment: fixed;
}

.certicates__wrap{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.hex {
  position: relative;
  width: 6em;
  height: 10.32em;
  border-radius: 1em/.5em;
  background: #052c65;
  transition: opacity .5s;
  border-bottom: solid 7px var(--primary-clr);
}

.hex:before,
.hex:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}

.hex:before {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.hex:after {
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hex__inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.hex__inner i{
  font-size: 2rem;
  color: #21a0df;
}

.hex__title{
  font-size: .9rem;
  color: white;
  text-align: center;
}

.hex__cert{
  font-size: 1.5rem;
  font-weight: 600;
}

.rf-wrap{
  float: right;
  display: block;
}

.--waved:before{
  background-image: url(./media/footerbg.png);
}

.faqs-section{
  padding: 3.75rem 0;
}

.faqs-section .section-title{
  width: unset;
  text-align: center;
  margin-bottom: 3rem;
  line-height: 3rem;
}

.accordion-button:not(.collapsed){
  background-color: var(--primary-clr) !important;
}

.accordion-button:focus{
  box-shadow: unset !important;
}

.accordion-item button{
  font-weight: 600;
}

.--newdelhi-bg{
  background-image: url(./media/nd.png);
}

.--london-bg{
  background-image: url(./media/londonteam.png);
}

.--ph-bg{
  background-image: url(./media/phbg.jpg);
}

.--ph-prev .slick-slide:nth-child(1){
  display: unset;
}

.ips-testimonials{
  padding: 10rem 0;
  position: relative;
}

.ips-testimonials:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./media/mte.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.3;
}

.--ips__kp:before {
  background-image: url(./media/kp.png);
}

.ips-testimonials p{
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  text-align: center;
  color: darkslategray;
  font-style: italic;
  font-size: 1.5rem;
}

.ips-testimonials span{
  font-style: unset;
  font-weight: 600;
  color: black;
}

.ip-expertise{
  padding: 2.5rem;
  background-color: var(--accent-clr-g);
}

.ip-expertise__icons{
  display: flex;
  gap: 2rem;
  text-align: center;
  font-weight: 500;
  width: 100%;
}

.ip-expertise__icons i{
  font-size: 5rem;
  color: var(--primary-clr);
}

.ip-expertise__icons .col{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 1rem;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;
}

.ip-expertise__icons p{
  margin: 0;
}



/* News-item CSS */

.news-item__section{
  padding: 3.75rem 0;
}

.--news-item__bg{
  background-image: unset;
  background-color: var(--accent-clr);
}

.ip-banner__news-details{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: white;
  position: relative;
  z-index: 3;
  flex-wrap: wrap;
  width: 100%;
}

.ip-banner__news-details span{
  display: flex;
  gap: .5rem;
  align-items: center;
}

.news__featured-img{
  width: 100%;
  margin: auto;
  display: block;
}

.news__featured-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.news__content{
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #666666;
}

.news__content p{
  margin: 0;
  font-size: 1.2rem;
  line-height: 2rem;
}

@media only screen and (max-width: 991px) {
  .mobile-header{
    display: flex;
  }
  .header-inner{
    display: none;
  }
  .welcome-c-wrapper {
    align-items: center;
    gap: 2rem;
    flex-direction: column;
  }
  .idea-items {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .cta-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .expertise-wrapper {
    flex-direction: column-reverse;
  }
  .diff-wrapper {
    flex-direction: column-reverse;
  }
  .git-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .footer-navs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: unset;
  }
  .info-wrapper {
    margin-top: 3rem;
  }
  .headline-wrapper {
    flex-direction: column;
  }
  .ip-banner-tagline {
    font-size: 40px;
  }
  .featured-slide {
    flex-direction: column;
    gap: 2rem;
  }

  .what-we-do .headline-wrapper {
    flex-direction: column-reverse;
  }
  .headline-wrapper p {
    max-width: 550px;
  }
  .case-hover {
    padding: 0.3rem;
  }
  .case-label {
    font-size: 18px;
  }
  .headline-wrapper span {
    max-width: 550px;
  }
  .headline-wrapper img {
    max-width: 550px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .case-study__desc{
    max-width: 100%;
  }
  .cs-inner{
    flex-direction: column;
  }
  .cs-inner img{
    max-width: 550px;
    margin-top: 2rem;
  }
  .row-icons{
    flex-direction: column;
    gap: 3rem;
  }
  .cu-outer{
    flex-direction: column;
  }
  .cu-form__container{
    max-width: 600px;
  }
  .cu-row{
    flex-direction: column;
    gap: 1.5rem;
  }
  .initiatives{
    grid-template-columns: 1fr;
  }
  .cu-row .col:nth-child(2){
    border: 0;
  }
  .different-section{
    margin: 3rem 0;
  }
  .socmed{
    flex-direction: column;
}
.socmed__icons{
    flex-direction: row;
    max-width: unset;
}
.socmed__posts{
    flex-direction: column;
}
.socmed__posts a{
    max-width: 360px;
}
.socmed-section .section-title{
  text-align: center;
  width: unset;
}

.ip-partners__row{
  flex-direction: column;
  gap: 4.5rem;
}

.roadmap__wrap{
  flex-direction: column;
  align-items: center;
}

.roadmap-view .section-title, .roadmap-titles .section-title{
  font-size: 2rem;
  text-align: center;
}

.roadmap-titles span{
  text-align: center;
  display: block;
  margin: auto;
}

.team-comp__wrap{
  flex-direction: column;
}

.team-comp__wrap .col{
  max-width: 400px;
  }
.roadmap-titles{
  width: auto;
}
.rf-advantage__wrap {
  grid-template-columns: auto auto;
}
.tech-roadmap{
  max-width: 600px;
  margin: auto;
}
.tech-roadmap__wrap{
  flex-direction: column;
}
.ct-cont{
  flex-direction: column-reverse;
}
.ct-cont .col{
  width: 100%;
  max-width: 550px;
  margin: auto;
}
.section-tagline{
  max-width: 550px;
}

.tailored-form{
  flex-direction: column-reverse;;
}

.tailored-form .col-6{
  width: 100%;
  max-width: 550px;
}

.tech-title{
  font-size: 2rem;
}

.certicates__wrap{
  flex-direction: column;
  align-items: center;
}
.ip-expertise__icons{
  flex-direction: column;
  align-items: center;
}

.diagrams-wrapper{
  grid-template-columns: auto;
}

}

/* Smaller screens */

@media only screen and (max-width: 567px) {
  .section-title p {
    font-size: 2rem !important;
  }
  .ideas-section .section-t-wrap .section-title p:after {
    right: 0;
    left: unset !important;
    width: 25%;
  }

  .testimonials-section .section-t-wrap .section-title p:after {
    right: 0;
    left: unset !important;
    width: 15%;
  }
  .banner-tagline p {
    font-size: 2.2rem;
    padding: 0 1rem;
    line-height: 2rem;
  }
  .contact-smi {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-wrapper p {
    text-align: center;
  }
  .inner-content {
    grid-template-rows: repeat(1, minmax(0, 1fr));
  }
  .ceo-details {
    padding: 0.2rem 0.95rem;
    gap: 0.1rem;
  }
  .expertise-items {
    grid-template-columns: auto;
  }
  .git-logo img {
    max-width: 150px;
    margin: auto;
    display: block;
  }
  .git-rf-logo {
    max-width: 150px;
  }
  .ip-banner-tagline {
    font-size: 25px;
  }
  .ideas-section .section-title p{
    font-size: 20px !important;
  }
  .ideas-section .section-title span{
    font-size: 1rem;
  }
  .case-study__title{
    font-size: 1.9rem;
    margin-top: 5rem;
  }
  .case-study__desc{
    font-size: 1.1rem;
  }
  .team-section .section-t-wrap .section-title p:after{
    right: 0;
    left: unset !important;
    width: 10%;
  }
  .cu-form__container .section-title{
    font-size: 2rem;
  }
  .initiatives__item{
    padding: 1rem;
  }
  .socmed-section .section-title{
    font-size: 2rem;
    text-align: center;
  }
  .rf-advantage__wrap {
    grid-template-columns: auto;
  }
  .--nd-team .section-title p:after {
    width: 30% !important;
  }

  .--ph-team .section-title p:after{
    width: 5% !important;
  }

  .ip-banner-tagline p{
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .featured-emp-inner img{
    height: 100%;
  }
  .team-next-btn, .team-prev-btn{
    top: 25%;
  }
  .team-prev-btn{
    right: 5%;
  }
  .banner-tagline span:nth-child(2){
    line-height: 1.5rem;
  }
  .ip-section-title{
    font-size: 2rem !important;
  }
  .roadmap-view .section-title, .roadmap-titles .section-title{
    font-size: 2rem !important;
  }

}
